/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
body {
  font-family: Arial, 'Helvetica CY', Sans-serif;
  font-size: 16px;
  color: #000;
}

/* line 9, ../sass/style.scss */
.bForm {
  width: 495px;
  padding: 15px 50px 10px 10px;
  position: relative;
}

/* line 15, ../sass/style.scss */
.bForm__eTitle {
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 2px solid;
  font-size: 18px;
}

/* line 23, ../sass/style.scss */
.bForm__eSubTitle {
  height: 1px;
  border-bottom: 1px dotted;
}
/* line 27, ../sass/style.scss */
.bForm__eSubTitle span {
  position: relative;
  top: -7px;
  padding-right: 10px;
  display: inline-block;
  background-color: #fff;
}

/* line 36, ../sass/style.scss */
.bForm__eInner {
  padding: 33px 0 10px 18px;
}

/* line 40, ../sass/style.scss */
.mForm__eInnerFriend {
  padding-top: 8px;
}

/* line 44, ../sass/style.scss */
.bForm__eInput {
  width: 214px;
  height: 25px;
  padding: 0 5px;
  font-size: 14px;
  border: 1px solid #ccc;
}

/* line 52, ../sass/style.scss */
.bForm__eList {
  padding-top: 17px;
  font-size: 12px;
  line-height: 16px;
}
/* line 57, ../sass/style.scss */
.bForm__eList li {
  margin-bottom: 10px;
}
/* line 61, ../sass/style.scss */
.bForm__eList a {
  color: #f27257;
  text-decoration: underline;
}

/* line 67, ../sass/style.scss */
.bForm__eDelete {
  width: 10px;
  height: 10px;
  display: none;
  position: absolute;
  left: 0;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -1px -1px;
}

/* line 78, ../sass/style.scss */
.bForm__eAdd {
  width: 10px;
  height: 10px;
  display: none;
  position: absolute;
  left: 0;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -14px 0px;
  cursor: pointer;
}

/* line 90, ../sass/style.scss */
.bForm__eListLi {
  position: relative;
}
/* line 93, ../sass/style.scss */
.bForm__eListLi:hover {
  cursor: default;
}
/* line 96, ../sass/style.scss */
.bForm__eListLi:hover .bForm__eDelete {
  cursor: pointer;
  display: block;
}

/* line 103, ../sass/style.scss */
.bForm__eListLiHidden {
  display: none;
}

/* line 107, ../sass/style.scss */
.bForm__eListLiText {
  margin-left: -15px;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: block;
}
/* line 115, ../sass/style.scss */
.bForm__eListLiText:before {
  content: '';
  width: 50px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
}

/* line 126, ../sass/style.scss */
.bForm__eReport {
  width: 100px;
  height: 10px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: #666;
  cursor: pointer;
}
/* line 136, ../sass/style.scss */
.bForm__eReport i {
  width: 11px;
  height: 11px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: 0 -28px;
}

/* line 149, ../sass/style.scss */
.bForm__eListLiContainer {
  display: block;
  position: relative;
}

/* line 155, ../sass/style.scss */
.mForm__eInnerFriend .bForm__eListLi {
  padding-right: 110px;
}

/* line 160, ../sass/style.scss */
.mForm__eInnerFriendHobbies {
  padding-top: 10px;
}
/* line 163, ../sass/style.scss */
.mForm__eInnerFriendHobbies .bForm__eListLiText {
  margin-left: -15px;
  padding-left: 15px;
  position: relative;
  margin-right: 100px;
}
/* line 170, ../sass/style.scss */
.mForm__eInnerFriendHobbies .bForm__eListLiText:hover .bForm__eAdd {
  display: block;
}
/* line 176, ../sass/style.scss */
.mForm__eInnerFriendHobbies .bForm__eListLiText {
  white-space: normal;
}
/* line 179, ../sass/style.scss */
.mForm__eInnerFriendHobbies .bForm__eListLiText .bForm__eListLiHobby {
  margin-right: 5px;
  white-space: nowrap;
}

/* line 186, ../sass/style.scss */
.bFormReport {
  width: 250px;
  padding: 15px;
  position: absolute;
  left: 100%;
  top: 70px;
  margin-left: -30px;
  display: none;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #fff;
}

/* line 199, ../sass/style.scss */
.bFormReport__eTextarea {
  width: 100%;
  height: 50px;
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
}

/* line 207, ../sass/style.scss */
.bSuccess__eInfo {
  position: relative;
  top: -1px;
  color: #449f1b;
}
/* line 212, ../sass/style.scss */
.bSuccess__eInfo:before {
  content: '';
  width: 16px;
  height: 17px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: 0 -12px;
}